div.tooltip3 {
    position: fixed;
    text-align: center;
    width: 125px;
    height: 30px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(201, 172, 223);
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip6 {
    position: fixed;
    text-align: center;
    width: 125px;
    height: 35px;
    padding: 5px;
    font: 12px sans-serif;
    background: rgb(201, 172, 223);
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip1 {
    position: fixed;
    text-align: center;
    width: 65px;
    height: 19px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(201, 172, 223);
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip4 {
    position: fixed;
    text-align: center;
    width: 150px;
    height: 19px;
    padding: 2px;
    font: 12px sans-serif;
    /* background: lightsteelblue; */
    background: rgb(201, 172, 223);

    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip5 {
    position: fixed;
    text-align: center;
    width: 100px;
    height: 32px;
    padding: 2px;
    font: 12px sans-serif;
    /* background: lightsteelblue; */
    background: rgb(201, 172, 223);

    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip2 {
    position: absolute;
    text-align: center;
    width: 50px;
    height: 17px;
    padding: 2px;
    font: 12px sans-serif;
    background: rgb(201, 172, 223);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

body {
    background-color: rgb(3, 3, 1)
        /* #cafafe; */

        /* background-color: #00678a; */
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
}

/* 
svg {
    background-color: rgb(228, 228, 107)
} */